@import "tailwindcss";
@import 'react-day-picker/dist/style.css';

:root {
  --bg-background: white;
  --foreground: #121212;
  --color-primary: #4d44b5;
  --color-primary2: #4d44b5;
  --color-secondary: #f3f4ff;
  --color-accent1: #a098ae;
  --color-accent2: #303972;
  --color-accent3: #c1bbeb;
  --color-accent4: #4d44b51a;
  --color-orange: #fb7d5b;
  --color-red: #ff4550;
  --color-green: #4cbc9a;
  --color-yellow: #fcc43e;
  --color-hover: #453d95;
}

/* وضع الـ Dark Mode */
[data-theme="dark"] {
  --background: #121212;
  --foreground: #ffffff;
  
  --bg-background: #1e1e1e;
  --color-primary2: #1e1e1e;
    --color-primary: #494296;
  --color-hover: #322d72;
  --color-secondary: #2a2a2a;
  
  --color-orange: #fa9168;
  --color-red: #f84d58;
  --color-green: #4fd1a1;
  --color-yellow: #ffd059;
  
  --color-accent1: #d6d1d1;
  --color-accent2: #e0e0e0;
  --color-accent3: #a89eff;
  --color-accent4: #2e2e2e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1280px;
}

.loading {
  width: 2.5rem;
  height: 2.5rem;
  border: 4px solid #d1d5db;
  border-top-color: var(--color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
